html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

#selector_id {
	width: 100%;
	height: 100%;
	background-color: #d4d4d4;

}

.Card {
	background-color: #fff6f6;
	width: 256px;
	height: 340px;
	display: inline-block;
	margin: 64px 16px 16px 16px;
	border: 2px solid #000FFF;
	border-radius: 12px;
	/*box-shadow: 0px 0px 0px 2px #000;*/
	opacity: 0.5;
}

.Card:hover{
	transition-delay: 0.045s;
	opacity: 1;
	box-shadow: 0px 2px 10px 0.5px #000;
	
}

.Card_3:hover {
	box-shadow: -2px 2px 10px 0.5px #000;
}



.Card_2 {
	border-radius: 7px;
	position: relative;
	top: 64px;     
	
	
}


.Card_1:hover{
	box-shadow: 2px 2px 10px 0.5px #000;
}



